html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: $red;
    background-image: url(../../images/bg-intro-mobile.png);
    font-family: 'Poppins', sans-serif;

    @include breakpoint-up(medium) {
        background-image: url(../../images/bg-intro-desktop.png);
    }
}

body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 4.0625rem 1.875rem;

    @include breakpoint-up(large) {
        padding: 7.5rem 10.3125rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .text {
        color: white;
        text-align: center;
        margin-bottom: 70px;

        h1 {
            font-size: 1.75rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.5;
        }

        @include breakpoint-up(large) {
            text-align: left;
            margin-right: 75px;

            h1 {
                font-size: 48px;
                margin-bottom: 30px;
                line-height: 1.2;
            }

            p {
                font-size: 16px;
            }
        }

        
    }

    button, .button {
        font-family: 'Poppins', sans-serif;
        border-radius: 15px;
        border: none;
        color: white;
        transition: 0.2s ease-in-out;

        &-try{
            width: 100%;
            padding: 5px 60px;
            background-color: $blue;
            font-size: 16px;
            box-shadow: 0px 8px hsla(0, 0%, 0%, 0.13);

            @include breakpoint-up(large){
                width: 100%;
                padding: 5px 55px;
                font-size: 14px;

                &:hover {
                    background-color: hsl(248, 49%, 45%); ;
                }
            }
        }
    }

    .sign-up-form {
        text-align: center;
        width: 100%;
    }

    form {
        margin-top: 25px;
        background:white;
        border-radius: 8px;
        padding: 25px;
        text-align: center;
        box-shadow: 0px 7px hsla(0, 0%, 0%, 0.13);

        @include breakpoint-up(medium) {
            padding: 42px;
        }

        p {
            margin: 0;
            font-size: 12px;
            color: rgb(197, 197, 197);
            display: inline;
    
            @include breakpoint-up(large){
                display: block;
                font-size: 11px;
            }
        }

        .term {
            text-align: center;
            p{
                margin: 0;
                font-size: 12px;
                color: rgb(197, 197, 197);
                display: inline;
    
                @include breakpoint-up(large){
                    display: block;
                    font-size: 11px;
                }
    
                    .red {
                    text-decoration: none;
                    color: $red;
                    font-weight: 700;
                    transition: 0.2s ease-in-out;
    
                    &:hover {
                        color: hsl(0, 100%, 63%);;
                    }
                }
            }
        }
        
        .input-col {
            position: relative;
            text-align: right;
            margin-bottom: 17px;

            &.error {
                input {
                    border-color: $red;
                    border-width: 2px;

                    &::placeholder {
                        opacity: 0;
                    }
                }

                .error-icon {
                    display: block;
                }

                .error-text {
                    display: block;
                }
            }
            .error-icon {
                position: absolute;
                top: 15%;
                right: 5%;
                display: none;
            }
            .error-text {
                color: $red;
                font-style: italic;
                margin-top: 5px;
                font-weight: 500;
                // text-align: left;
                display: none;
            }
            input {
                box-sizing: border-box;
                width: 100%;
                height: 55px;
                padding: 0 20px;
                border: 1px solid rgb(204, 204, 204);
                border-radius: 5px;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                // margin-bottom: 17px;
                transition: 0.2s ease-in-out;
    
                // &:invalid {
                //     border: 2px solid $red;
                // }
    
                // &:valid {
                //     border: 1px solid rgb(204, 204, 204);
                // }
    
                &.error {
                    border: 2px solid $red;
                    
                }
    
                &:focus {
                    outline: none;
                    border-color: $blue;
                }
            }
        }

        input[type=submit] {
            border: none;
            width: 100%;
            height: 55px;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            color: white;
            padding: 0 20px;
            background-color: $green;
            box-shadow: 0px 5px hsl(154, 59, 46);
            transition: 0.2s ease-in-out;
            margin-bottom: 17px;

            @include breakpoint-up(large){
                font-weight: 600;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    } 
}